* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cd3434 ;
    font-family: "Inter", sans-serif;
    
}

h2 {
    font-size: 3rem;
    color: D9D9D9;
}



/* NAVBAR */

.navbar {
    height: max-content;
    position: fixed;
    background-color: transparent;
}

.navBarScroll {
    background-color: #8c0303;
    z-index: 1;
}

#logoImg{
   height: 50px;
}

.nav-item a {
    font-size: 1.6rem;
    font-weight: bold;
    color: #D9D9D9;
    border: none;
}

.nav-item a:hover {
    color: rgb(255, 255, 255); 
}

.navBarButton {
   border: none;
   font-weight: bold;
   font-size: 2rem;
}

.dropdownNav {
    all: unset;
    cursor: pointer;
}

.dropdownMenu {
    background-color: #8c0303;
    border: none;
    text-align: center;
    width: 100%;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #D9D9D9 ;
}

.dropdownMenuTransparent {
    background-color: transparent;
}


/* HERO SECTION */


#heroSection {
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/heroSectionBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heroSectionImg {
    margin-top: 50px;
}

/* O NAMA */

#oNama {
    height: 100vh;
    color: #D9D9D9;
    /* background-color: rgb(0, 249, 249); */
}

#oNamaHeading {
    margin-top: 6rem;
}

.oNamaImg {
    border-radius: 25px;
}

/********** MEDIA QUERY-s **********/

@media (max-width: 1199.98px) {
   
}

@media (max-width: 991.98px) {
    
    
}

@media (max-width: 767.98px) {
    
}

@media (max-width: 575.98px) {
   
    
}

.heartBeat {
    animation: heartBeat 2s ease 0s infinite normal forwards;
}

@keyframes heartBeat {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

